nav .brand-logo{
    margin-left: 10px;
}
.mainSection{
    background-image: url('../images/man working out-carousel.jpg');
    background-size: 100%;
    text-align: center;
    color: white;
    filter: grayscale(70%);
    height: 500px;
    padding: 100px;
}
.mainHeading{
    text-shadow: 1px 1px black;
}
.mainSubHeading{
    text-shadow: 1px 1px black;
}
h1{
    margin: 0 !important;
    color: teal;
}
.modal{
    width: 40% !important;
}

footer {
    text-align: center;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    width: 100%;
    margin: auto;
    position: absolute;
    border-top: 5px teal;

}

img {
    margin: 20px; 
    float: left;
}

p {
    float:right;
}